@using Microsoft.AspNetCore.Mvc.Rendering;
@model Trisatech.Kamlinko.WebApp.ViewModels.ProdukViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<h4>Create Produk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nama" class="control-label"></label>
                <input asp-for="Nama" class="form-control" />
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deskripsi" class="control-label"></label>
                <input asp-for="Deskripsi" class="form-control" />
                <span asp-validation-for="Deskripsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Harga" class="control-label"></label>
                <input asp-for="Harga" class="form-control" />
                <span asp-validation-for="Harga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gambar" class="control-label"></label>
                <input asp-for="Gambar" class="form-control" />
                <span asp-validation-for="Gambar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategoriId" class="control-label"></label>
                @Html.DropDownList("KategoriId", 
                (List<SelectListItem>)ViewBag.KategoriDataSource, 
                    "", 
                    new {
                        multiple = "multiple"
                    })
                <span asp-validation-for="KategoriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
