@model IEnumerable<Trisatech.Kamlinko.WebApp.ViewModels.ProdukViewModel>
@{
    ViewData["Title"] = "Daftar Produk";
    Layout = "_AdminLayout";
    int i = 0;
}


<!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>
              <!-- Responsive Table -->
              <div class="card">
                <h5 class="card-header">Responsive Table</h5>
                <div class="table-responsive text-nowrap">
                  <table id="productData" class="table">
                    <thead>
                      <tr class="text-nowrap">
                        <th>#</th>
                        <th>Kategori</th>
                        <th>Gambar</th>
                        <th>Nama</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>
                        @foreach (var kategori in item.Kategories)
                        {
                            <img src="@kategori.Icon" height="32" />
                            <p>@kategori.Nama</p>
                        }
                    </td>
                    <td><img src="~/@item.GambarSrc" height="100" /></td>
                    <td>@item.Nama</td>
                    <td>
                        <a href="/produk/detail/@item.Id">Detail</a>
                        <a href="/produk/edit/@item.Id">Edit</a>
                        <a href="/produk/delete/@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }else {
            <tr>
                <td colspan="4">Data kosong</td>
            </tr>
        }
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Responsive Table -->
            </div>
            <!-- / Content -->



<table id="productTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>deskripsi</th>
                <th>nama</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
              <td>id</td>
              <td>deskripsi</td>
              <td>nama</td>
            </tr>
        </tfoot>
    </table>

@section Scripts {
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#productTable').DataTable( {
        "lengthMenu": [[2, 3, 4, -1], [2, 3, 4, "All"]],
          "processing": true,
          "serverSide": true,
          "ajax": "produk/datatable",
          "columns": [
            { "data": "id" },
            { "data": "harga" },
            { "data": "nama" }
          ]
      } );


      $("#productData").DataTable(
        {
          "lengthMenu": [[2, 3, 4, -1], [2, 3, 4, "All"]]
        }
      );
  } );
  </script>
}
