@model IEnumerable<Trisatech.Kamlinko.WebApp.ViewModels.KategoriViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <h3>@item.Nama</h3>
    <h4>@item.Deskripsi</h4>
    <hr />
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
