@using System.Globalization
@{
    ViewData["Title"] = "Pesanan saya";
    int i = 0;
}

<h1>Daftar pesanan</h1>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function(){
            
        });
    </script>
}