@model IEnumerable<Alkademi.Bootcamp.HelloWebApp.Models.TweetViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_NewLayout";
}

<p>
    <a asp-controller="Home" asp-action="Index">Back</a>
</p>

<div class="container-xxl flex-grow-1 container-p-y">
<!-- Custom content with heading -->
<div class="col-lg-6">
<small class="text-light fw-semibold">Custom content</small>
<div class="demo-inline-spacing mt-3">
    <div class="list-group">
        @foreach (var item in Model)
        {
         <a
        href="javascript:void(0);"
        class="list-group-item list-group-item-action flex-column align-items-start active"
        >
            <div class="d-flex justify-content-between w-100">
            <h6>@item.Title</h6>
            <small>3 days ago</small>
            </div>
            <p class="mb-1">
            @item.Desc
            </p>
            <small>Donec id elit non mi porta.</small>
        </a>   
        }
    </div>
</div>
</div>
<!--/ Custom content with heading -->
</div>
